<!DOCTYPE html>
<html>
	<head>
		<title>clintonfac.es</title>
		<link rel="stylesheet" href="/static/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script src="/static/main.js"></script>
	</head>
	<body>
		<header>
			<h1><a href="/">clintonfac.es</a></h1>
			<input type="text" id="face_url" />
		</header>
		<section id="content">
			{% block content %}{% endblock %}
		</section>
		<footer>
			<a href="https://grimpen.net/">Impressum</a> –
			<span class="email">fritz+faces@grimpen.net</span> –
			Powered by <a href="http://bottlepy.org/">Bottle</a>,
			<a href="http://www.tornadoweb.org/">Tornado</a>, and
			<a href="http://www.mongodb.org/">MongoDB</a>
		</footer>
	</body>
</html>
