$color: #5dcf30;

body {
	font: {
		family: 'Open Sans', 'DejaVu Sans Serif', 'Arial', 'Helvetica', sans-serif;
		size: 14px;
	}

	margin: 0px;
	padding: 0px;

	& > header {
		background: $color;
		color: darken($color, 35%);
		height: 60px;
		width: 100%;

		h1 {
			display: inline-block;
			text-shadow: 1px 1px darken($color, 10%);

			margin: 0px;
			padding: 0px;

			font-size: 15px;

			margin-left: 180px;
			padding-top: 18px;

			width: 150px;

			text-transform: uppercase;
			a:hover {
				text-decoration: inherit;
			}
		}

		input#face_url {
			border: 2px solid lighten($color, 20%);
			border-radius: 5px;

			background: lighten($color, 60%);

			font-size: 16px;
			font-weight: bold;

			padding: 5px;
			margin-left: 20px;
			width: 674px;

			color: #8f8f8f;

			&:focus {
				outline: none;
			}
		}
	}

	& > footer {
		font-size: 12px;
		color: #666666;
		margin-top: 20px;
		margin-left: 170px;

		transition: color 0.3s;
		-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;

		&:hover {
			color: #444444;
		}
	}
}

a {
	color: inherit;
	text-decoration: inherit;
	&:hover {
		text-decoration: underline;
	}
}

#content {
	margin-top: 20px;
	margin-left: 170px;
	width: 880px;
}

.faces {
	width: 880px;
	font-size: 0px;

	.face {
		width: 150px;
		height: 150px;
		display: inline-block;
		margin: 10px;

		opacity: 0.8;
		transition: opacity 0.5s;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;

		border: 3px solid $color;

		&:hover {
			opacity: 1;
		}
	}
}

.standalone {
	text-align: center;
}

.email {
	color: #252525;
}
